.contact-container {
  width: 90%;
  margin: 0 auto;
  color: white;
}
.contact-heading {
  font-size: 35px;
  padding: 30px 0;
}

.contact-box {
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 50px;
}
.contact-info {
  flex: 50%;
}

.contact-head {
  font-size: 24px;
  margin-bottom: 60px;
}
.contact-btns-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-btn {
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-img {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.resume-btn {
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px 30px;
  background-color: rgb(183, 181, 181);
  border-radius: 5px;
}
.upbtn {
  font-size: 50px;
  color: grey;
  background: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  outline: none;
  border: none;
}

@media screen and (max-width: 425.7px) {
  .contact-img {
    display: none;
  }
  .contact-heading {
    font-size: 25px;
  }
}
